body
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-wrap: balance;
    
}


.container
{
    width: auto;
    margin: auto;
}
img
{
    border-radius: 100px;
    border: solid 1px black;
}
h1,h2{
    font-weight: 300;
    
}
h1
{
    font-size: 60px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 40px;
    font-weight: 900;
}
.small-text
{
    font-size: 16px;
}
section
{
    margin: auto;
}
a{
    color: #99D930;
}
a:hover
{
color: #131313;
}
.header, .middle, .footer{
    padding: 25px 0px 50px 0px;
}

.header, .footer
{
    background-color: #252525;
    color: #ffF;
}
.middle
{
    background-color: #fff;
    color:#252525;
}
.btn{
    display: inline-block;
    padding: 10px 25px;
    font-size: larger; 
    font-weight: bold; 
    background-color: #99D930;
    color: #252525; 
    border: 0px; 
    text-decoration: none;
}
.btn:hover
{
    background-color: #252525;
    color: #fff;
}