body
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}


.container
{
    width: 570px;
    margin: 0 auto;
}
img
{
    border-radius: 100px;
    border: solid 1px black;
}
h1,h2{
    font-weight: 300;
    
}
h1
{
    font-size: 60px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 40px;
    font-weight: 900;
}
.small-text
{
    font-size: 16px;
}
section
{
    margin: 100px 0px;
}
a{
    color: #99D930;
}
a:hover
{
color: #131313;
}
.header, .middle, .footer{
    padding: 50px 0;
}

.header
{
    background-color: #d7d7d7;
}
.middle
{
    background-color: #ffeaea;
}
.footer
{

    background-color: #eaf9ff;
}
