body{
    top: -1697px;
    left: 169px;
    gap: 0px;
    opacity: 0px;
    text-align: center;
    margin-top: 15%;
    background-color: black;
    margin-block: var(container);
    font-family: cursive;
}
.container
{
    text-align: left;
    background-color:#1F2937;
    color: white;
    width: 450px;
    height: 300px;
    padding-top: 10px;
    padding-left: 25px;
    margin-left: 400px;    
}
button
{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    background-color: #10B981;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 5px;
}
