body
{
    font-size: 16px;
    color: #2b283a; 
    font-family: 'roboto', sans-serif;
    margin: 0px;
    display: block;
    
}
header
{
  background-color: #5F29A3;
  padding: 45px 15px;
  margin: 50px 50px;

}
footer
{
  color: #5F29A3;
  padding: 45px 15px;
  margin: 50px 50px;
  text-align: center;
  font-weight: bolder;
}
h2{
    font-size: 24px;
}
h3
{
    font-size: 20PX;
    color:#d0aaff;
}
h1
{
   font-size: 31px;
    color: whitesmoke;
}
section
{
    padding: 45px,0;
    margin: 50px 50px;
 }
p{
    font-size: 16px;
}
.main-image
{
    width: 50%;
}
a
{
    color: #ef5839;
    text-decoration: none; 
    border-bottom:1px dotted;
}
a:hover
{
    color:#d4b44c;
}
a:active
{
    color:#d4b44c;

}
.crypto
{
    color: whitesmoke;
    background-color: #5f29a3;
    width: 100%;
    padding: 10px;
    display: flexbox;
}
.feature-image
{
    border: 0px;
    border-radius: 5px;
    margin: 0px 10px;
    width: 40%;
}